/* add css module styles here (optional) */


.section{
  display: flex;
  flex-direction: column;
  width:100%;
    
  .inputBox{
    width:100%;
  }  

  .inputActions{
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    margin-left: 15px;

    .postBtn {
      color: white;
      text-align: center;
      background-size: 200% auto;
      border-radius:5px;
      transition: 0.5s;
      padding:8px 16px;
      background-color: #84dcff;
      border:none;
      margin-right: 10px;
      font-weight:bolder;
    font-size: 16px;

      &:hover {
        background-position: right center;
        cursor: pointer;

      }

      &:focus {
        outline:0;
      }
    }

    .cancelBtn {
      color: rgb(139, 139, 139);
      text-align: center;
      background-size: 200% auto;
      border-radius:5px;
      transition: 0.5s;
      padding:8px 10px;
      border: 2px solid rgb(139, 139, 139);
      font-weight:bolder;
      font-size: 16px;

      &:hover {
        background-position: right center;
        cursor: pointer;

      }

      &:focus {
        outline:0;
      }
    }

  }  
  
}


  .form{
    display: flex;
    background-color: rgb(243, 243, 243);
    padding: 8px;
    padding-bottom: 15px;
    border-radius: 8px;
    .userImg{
      display: flex;
      width:10%;
      justify-content: center;
      align-items: center;
    }

    .postComment{
      width:80%;
      border: none;
      border-bottom: 1px solid rgb(24, 24, 24);
      text-decoration: none;
      background-color: transparent;
      margin-left: 10px;
    }
    .postComment:focus {
      outline:none;
      border-bottom: 2px solid rgb(14, 14, 14);
    }
    .postComment::placeholder{
      margin-top: -2px;
    }
  }



.displayComments{
  margin-top: 18px;
  margin-left: 38px;

  .halfDiv{
    display: flex;
    justify-content: space-between;

    .userInfo{
      display: flex;
      flex-direction: column;
      margin-top: 16px;
  
      .commentsTwo{
        display: flex;
        margin-top: 8px;
  
        .fullName{
          display: flex;
          margin-left: 10px;
        }
        .replyBtn{
          background-color: transparent;
          border:none;
          color: gray;
          outline:none;
          font-weight: 600;
          font-size:14px;
          margin: 0px 5px!important;
          width:70px;
          padding: 5px;
          border-radius: 4px;
  
          &:hover{
            outline:none;
            background-color: rgba(160, 160, 160, 0.315);
          }
          &:focus {outline:0;}
        }
        
      }
    }
    .userActions{
      margin-top: 20px;
     
      .actionsBtn{
        background-color: transparent;
        border: none;
        padding: 6px 12px;
        border-radius: 50%;
        cursor: pointer;

        &:hover{
          outline:none;
          background-color: #dbdbdb5d;
        }
        &:focus {outline:0;}
        
      }
     
    }
  }
  
  .replySection{
    margin-left: 35px;
    border-left: 2px solid rgb(199, 199, 199);
    margin-top: 6px;
  }
  
}


.actionDiv{
  width:0px !important;
  
  .editBtn{
    background-color: transparent;
    outline:none;
    border:none;
    cursor: pointer;
  }
  .deleteBtn{
    background-color: transparent;
    outline:none;
    border:none;
    cursor: pointer;

  }
}

.signBox{
  border: 1px solid rgb(221, 221, 221);
  border-radius: 8px;
  background-color: transparent;
  padding :15px;
  display: flex;
  justify-content:space-between;
  width:80%;

  .signLine{
    margin-top:5px;
    font-weight: 500;
    color: rgb(156, 156, 156);
    font-size: 17px;
  }

  .loginBtn{
    border : 2px solid rgb(0, 195, 255);
    border-radius: 8px;
    background-color: transparent;
    padding: 5px 10px;
    color: rgb(0, 195, 255);
    font-weight:bolder;
    margin-right: 10px;
    font-size: 16px;
    &:active{
      outline: none;
      border:none;
    }

  }
  .signBtn{
    border : 2px solid rgb(0, 195, 255);
    border-radius: 8px;
    background-color: rgb(0, 195, 255);
    padding: 5px 10px;
    color: rgb(255, 255, 255);
    font-weight:bolder;
    font-size: 16px;
    &:active{
      outline: none;
      border:none;
    }
  }
}
/**********/
.modal{
  font-size: '16px'
}

.modalClose{
  cursor: 'pointer';
  position: 'absolute';
  display: 'block';
  padding: '2px 5px';
  line-height: '20px';
  right: '-10px';
  top: '-10px';
  font-size: '24px';
  background: '#ffffff';
  border-radius: '18px';
  border: '1px solid #cfcece';
  outline: 'none';
}

.modalHeader{
  width: '100%';
  border-bottom: '1px solid gray';
  font-size: '18px';
  text-align: 'center';
  padding: '5px';
}

.modalContent{
  width: '100%';
  padding: '10px 10px';
}

.modalActions{
  width: ' 100%';
  padding: ' 10px 5px';
  margin: ' auto';
  text-align: ' center';
}

.modalActionBtn{
  background-color: 'transparent';
  outline: 'none';
  border: '1px solid gray';
  padding: '4px 12px';
  cursor: 'pointer';
}

.modalDelBtn{
  background-color: 'transparent';
  outline: 'none';
  border: '1px solid gray';
  margin-left: '10px';
  padding: '4px 12px';
  cursor: 'pointer';
}

.userinfo-margins{
  margin-left: 15;
   margin-top: '6px';
}